ion-grid {
    --ion-grid-width: 50%;
  
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 80%;
    --ion-grid-width-md: 70%;
    --ion-grid-width-lg: 60%;
    --ion-grid-width-xl: 50%;
  }

  ion-title {
    text-align: center;
  }

.final-message{
    text-align: center;
    font-size: 2rem;
}